<%- include("../partials/header") %>
<div class="user-profile">
    <div class="profile-card">
        <div class="user-details">
            <p>Gmail : <%=email%></p>
            <p>Total Blogs: <%=count%></p>
            <form action="/compose" method="post">
                <button type="submit" class="cus-btn"
                name="userId" value="<%=userId%>">Compose NewBlog</button>
            </form>
        </div>
    </div>
</div>
<div class="blogs-containter">
    <% for(var i=0; i<blogData.length ;i++){%>
    <div class="blog-card">
    <form style="text-align: right;margin-bottom: 0.3rem;" action="/deleteBlog" method="post">
    <button style="border: none;" type="submit" name="blogId" value="<%=blogIds[i]%>">
    <input type="hidden" name="userId" value="<%=userId%>" >
    <i class="fa-solid fa-trash"></i>
    </button>
    </form>
      <h3><%=blogTitle[i]%></h3>
        <p>
            <%=blogData[i]%>
        </p>
    </div>
<% } %>
</div>
<%- include("../partials/footer") %>
