<%- include("../partials/header") %>

<div class="container">
<div class="crd">
    <h2><%=forBtn%></h2>
    <form method="post" action="/<%=title%>" class="fr-crd">
        <input autocomplete="off" name="email" placeholder="Email" type="email" required>
        <input autocomplete="off" name="password" type="password" placeholder="Password" required>
        <button class="cus-btn" type="submit"><%=forBtn%> </button>
    </form>
</div>
</div>

<%- include("../partials/footer") %>